USE [master]
GO
/****** Object:  Database [ComputerStore]    Script Date: 18.02.2021 03:08:27 ******/
CREATE DATABASE [ComputerStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ComputerStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ComputerStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ComputerStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ComputerStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ComputerStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ComputerStore]
GO
/****** Object:  Table [dbo].[Manufactures]    Script Date: 18.02.2021 03:08:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufactures](
	[ID_Manufacture] [int] NOT NULL,
	[Name_Manufacture] [nvarchar](100) NULL,
 CONSTRAINT [PK_Manufactures] PRIMARY KEY CLUSTERED 
(
	[ID_Manufacture] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 18.02.2021 03:08:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID_Product] [int] NOT NULL,
	[Name_Product] [nvarchar](100) NULL,
	[Price] [int] NULL,
	[ID_Manufacture] [int] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ID_Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Manufacture_ID] FOREIGN KEY([ID_Manufacture])
REFERENCES [dbo].[Manufactures] ([ID_Manufacture])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Manufacture_ID]
GO
USE [master]
GO
INSERT INTO Manufactures VALUES(1, 'Dell');
INSERT INTO Manufactures VALUES(2, 'Asus');
INSERT INTO Manufactures VALUES(3, 'LG');


INSERT INTO Products VALUES(1, 'Dell Inspiron 14',200, 1);
INSERT INTO Products VALUES(2, 'Dell XPS 13', 300, 1);
INSERT INTO Products VALUES(3, 'Dell Alienware m15', 500, 1);

